body {
  background-color: #fff;
}

.body {
  border: 1px solid #3f3f3f;
}

.p {
  color: #000;
  text-decoration: underline;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.category {
  width: 100%;
  padding: 3px 4px;
}
